* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header1 {
    height: 26px;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#headermain1 {
    display: flex;
    flex-direction: row;
    width: 64%;
    margin-left: 7em;
    align-self: center;
}

#headermain1 i {
    color: #fff;
    margin-right: 0.5em;
}

#headermain1 p {
    color: #fff;
}

#headermain1 a {
    color: #fff;
}

#headermain2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#headermain2 a:hover {
    color: red;
}

#headermain2 a {
    color: #fff;
    margin: 0 1em;
}

#header {
    top: 0;
    position: sticky;
    background-color: rgb(0, 0, 0);
    height: 95px;
    width: 100%;
}

.logo-img {
    max-height: 70px;
    padding: 7px 0;
    display: inline-block;
}

#nav {
    padding: 0 15px;
    display: flex;
    height: 70px;
}

#nav >li {
    display: inline-block;
    margin: 0 11px;
    height: 70px;
}

.subnav > li:hover >a,
#nav > li:hover {
    background-color: rgb(172, 172, 172);
    
}
#nav .sub-subnav > li:hover {
    background-color: rgb(177, 177, 177);
}

#nav li:hover > .subnav{
    display: flex;
}

#nav li {
    position: relative;
}

#nav li a {
    font-size: 18px;
    color: #fff;
    line-height: 70px;
    text-decoration: none;
}

#nav li .subnav {
    background-color: #fff;
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1%;
    z-index: 10;
}

#nav .subnav >li {
    display: inline-block;
}

#nav .subnav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 40px;
    font-size: 12px;
}

#subnav-1 {
    list-style: none;
    width: 256px;
    flex-direction: column;
}

#subnav-2 {
    width: 300px;
    flex-direction: column;
}

#subnav-3 {
    flex-wrap: nowrap;
    justify-content: flex-end;
    right: -450px;
    text-transform: uppercase;
    width: 920px;
}

#subnav-3 > li {
    width: 20%;
}

/* slider */

#slider {
    width: 100%;
    height: 700px;
    background-image: url(https://bit.ly/3gMIixF);
    background-repeat: no-repeat;
    background-size: cover;
}

#sub-slider {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 40, 40, 0.3);
}

#slider-content{
    
    max-width: 1000px;
    height: 100%;
    margin: 0 144.6px;
    /* margin-top: 70px; */
}

#slider-main-content {
    padding-top: 50%;
    width: 100%;
    top: 50%;
    bottom: 15%;
    left: 15%;
    line-height: 1.6;
    text-transform: uppercase;
}

#slider-main-content a {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0.5em 0.5em;
    border: 1px solid black;
}

#slider-main-content h1 {
    font-size: 40px;
    color: #fff;
}

/* content */

#content-1 {
    padding-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
}

#content-1 #content-1-main {
    display: flex;
    flex-direction: column;
}

#content-1-main ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#content-1-main #col-3 li {
    width: 16%;
    text-align: center;
    font-size: 22px;
}

#col-3 li a{
    color: #666;
}

#col-3 li:hover > a {
    color: black;
}

#col-5 {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
}

#col-5 .item {
    width: 18%;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 1%;
    margin-right: 1%;
}


#col-5 .item a{
    width: 100%;
    display: block;
}

#col-5 .item img {
    width: 100%;
}

#col-5 .iteminfo {
    width: 100%;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 1.4em;
}

#col-5 .item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

#col-5 .item:hover .iteminfo a {
    color: red;
}

#content1-mluc {
    height: 613px;
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}

#content1-mluc .mluc-item:hover {
    width: 30%;
    height: 100%;
    background-size: cover;
}

#content1-mluc .mluc-item {
    margin-left: 1%;
    margin-right: 1%;
    background-size: contain;
    width: 30%;
    height: 100%;
    background-image: url(https://bit.ly/3JtHha4);
    background-repeat: no-repeat;
    transition: 1s;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#content1-mluc .mluc-item h1 {
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 5%;
}

#mluc-itemdoub {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#mluc-itemdoub .mluc-sub:hover {
    background-size: auto;
}

#mluc-itemdoub .mluc-sub {
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    height: 47%;
    background-image: url(https://bit.ly/3GVtQ1g);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#mluc-itemdoub .mluc-sub h1 {
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 5%;
}

/* content 2 */
#content-2 {
    width: 100%;
    height: 400px;
    background-image: url(http://mauweb.monamedia.net/anphuoc/wp-content/uploads/2018/01/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#content-2-main {
    width: 53%;
    padding-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
}

#content-2-main strong,
#content-2-main p,
#content-2-main a,
#content-2-main h1{
    color: #fff;
}

#content-2-main h1 {
    margin-bottom: 1.5em;   
}

#content-2-main strong {
    font-size: 45px;
}

#content-2-main p {
    margin: 2em 0;
}

#content-2-main a:hover {
    background-color: rgb(211, 19, 5);
}

#content-2-main a {
    padding: 0.6em 1.2em;
    margin: 0.5em 1em 0.5em 0;
    border: 1px solid #000;
    font-size: 16px;
    text-transform: uppercase;
    background-color: red;
}

/* content 3 */

#content-3 {
    width: 100%;
    height: 650px;
    background-image: url(http://mauweb.monamedia.net/anphuoc/wp-content/uploads/2018/01/news2-bg.jpg);
    background-size: cover;
}

#content-3-main {
    padding-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
}

#content-3-main h1 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#content3-container {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

#content3-container .content3-item {
    width: 32%;
    background-color: #fff;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid rgb(199, 199, 199);
}

#content3-container .content3-item img {
    width: 100%;
    display: block;
}

#content3-container .content3-item-info {
    padding: 20px;
    margin-bottom: 2em;
}

#content3-container .content3-item-info h2 {
    font-size: 16px;
    margin-bottom: 1.2em;
}

#content3-container .content3-item:hover .content3-item-info p {
    color: red;
}

#content3-container .content3-item-info p {
    color: #666;
    line-height: 1.6;
    font-size: 14px;
    margin: 1.2em 0;
}

#content3-container .content3-item-info a:hover {
    color: #000;
}

#content3-container .content3-item-info a {
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
}

#content-4 {
    width: 100%;
    height: 200px;
    background-image: url(http://mauweb.monamedia.net/anphuoc/wp-content/uploads/2018/01/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#content4-main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#content4-main .content4-item {
    width: 25%;
    color: #fff;
    text-align: center;
}

#content4-main .content4-item h1 {
    font-size: 48px;
}

#content4-main .content4-item .redline {
    width: 100%;
    text-align: center;
    margin-left: 43.95%;
}

/* footer */

#footer{
}

#foot1-main {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#foot1-main .foot1-item {
    align-self: center;
    width: 15%;
    text-align: center;
}

#foot1-main .foot1-item .foot1-img {
    width: 75%;
    font-size: small;
    color: f1f1f1;
}

/* footer 2 */

#foot2-main {
    height: 375px;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#foot2-main .foot2-item {
    align-self: center;
    width: 20%;
}

#foot2-main .foot2-item ul {
    margin: 1.5em 0 1.5em 0em;
}

#foot2-main .foot2-item li {
    width: 80%;
    color: #999;
    margin-bottom: 0.6em;
}

#foot2-main .foot2-item i:hover {
    color: #fff;
}

#foot2-main .foot2-item i {
    margin-right: 0.5em;
}

#foot2-main .foot2-item a:hover {
    color: #fff;
}

#foot2-main .foot2-item li a {
    color: #999;
}

#foot2-main .foot2-item h3 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

#foot2-main .foot2-item p {
    color: #999;
    margin-top: 20px;
}

#foot2-form {
    margin-top: 40px;
}

#foot2-form input {
    height: 2.507em;
    padding: 0 .75em;
}

#foot2-form button {
    background-color: red;
    height: 2.507em;
    width: 3em;
    margin-left: -4px;
}

#foot3-main {
    height: 40px;
    background-color: #000;
}

#foot3-main h3 {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #999;
}

#foot3-main a:hover {
    color: #fff;
}

#foot3-main a {
    color: #999;
}